<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title" id="myModalLabel">My Task List</h4>
    </div>
    <div class="modal-body">
      <table class="table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Assigned On</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% employee.employee_tasks.each do |employee_task| %>
            <tr>
              <td><%= employee_task.try(:task).try(:title) %></td>
              <td><%= employee_task.created_at.strftime("%b %d %Y") %></td>
              <td>
                <% if employee_task.try(:task).try(:status) == "Pending" %>
                  <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#taskStatus" data-task-id="<%= employee_task.try(:task).try(:id)%>"> Update </button>
                <% else %>
                  <i class="fa fa-check"></i>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
    </div>
  </div>
</div>

<div class="modal fade" id="taskStatus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
</div>