<div class="find-student-for">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#classStudent">View Class Student</button>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#batchStudent">View Batch Student</button>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#courseStudent">View Course Student</button>
    </div>
  </div>
</div>

<div class="modal fade" id="classStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render "students/find_student" %>
</div>
<div class="modal fade" id="batchStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render "students/find_batch_students" %>
</div>
<div class="modal fade" id="courseStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render "students/find_course_students" %>
</div>