var options = '<option value="">Select Semester</option>';
<% @sections.each do |section|%>
options += '<option value="<%= section.id%>"><%= section.name%></option>'
<%end%>
$("#find_previous_class_students_section").html(options);