var options = '<option value="">Select Batch</option>';
<% @batches.each do |batch|%>
options += '<option value="<%= batch.id%>"><%= batch.name%></option>'
<%end%>
$("#find_previous_class_students_batch").html(options);