var options = '<option value="">Select Course</option>';
<% @courses.each do |course|%>
options += '<option value="<%= course.id%>"><%= course.name%></option>'
<%end%>
$("#find_previous_class_students_course").html(options);