<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th data-breakpoints="xs">Last Name</th>
      <th data-breakpoints="xs sm">Course</th>
    </tr>
  </thead>
  <tbody>
    <% @inactive_batches.each do |inactive_batch| %>
      <% inactive_batch.students.each do |inactive_student| %>
        <tr>
          <td><%= inactive_student.first_name %></td>
          <td><%= inactive_student.middle_name %></td>
          <td><%= inactive_student.last_name %></td>
          <td><%= inactive_student.batch.course.try(:name) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<script>
  jQuery(function($){
    $('.table').footable({
      "paging": {
        "enabled": true
      },
      "filtering": {
        "enabled": true
      },
      "sorting": {
        "enabled": true
      }
    });
  });
</script>