<div class="find-student-for">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#previousClassStudent">View Class Student</button>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#previousBatchStudent">View Batch Student</button>
    </div>
    <div class="col-md-4 col-sm-4 col-lg-4 col-xs-12">
      <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#previousCourseStudent">View Course Student</button>
    </div>
  </div>
</div>

<div class="modal fade" id="previousClassStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render "students/find_previous_class_students" %>
</div>
<div class="modal fade" id="previousBatchStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render "students/find_previous_batch_students" %>
</div>
<div class="modal fade" id="previousCourseStudent" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <%= render "students/find_previous_course_students" %>
</div>