<div class="search-student">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 student-block">
      <%= image_tag "previous-students", class: "img-responsiev previous-student-block"%>
      <div class="img-caption text-center">
        <h4><%= link_to "Previous Students", "/inactive_students"%></h4>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-6 col-xs-12 student-block">
      <%= image_tag "current-students", class: "img-responsiev current-student-block"%>
      <div class="img-caption text-center">
        <h4><%= link_to "Current Students", "/active_students"%></h4>
      </div>
    </div>
  </div>
</div>