<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="admin-blocks">
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="admin-blocks">
        <%= image_tag "profile.jpg", class: "admin-block-img" %>
        <div class="admin-block-heading text-center">
          <h3><%= link_to "Student Admission", students_path %></h3>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="admin-blocks">
        <%= image_tag "empprofile.jpeg", class: "admin-block-img" %>
        <div class="admin-block-heading text-center">
          <h3><%= link_to "Employee Admission", employees_path %></h3>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 col-xs-12">
      <div class="admin-blocks">
      </div>
    </div>
  </div>
</div>