<div class="container">
  <div class="work-allot">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-xs-12">
        <%= link_to "Assign Subjects", employee_subjects_path, class: "btn btn-primary btn-block btn-lg"%>
      </div>
    </div>
  </div>
</div>