<h4><%= pluralize(@section.errors.count, "error") %> prohibited this section from being saved:</h4>
<ul>
<% @section.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>