<div class="container">
  <div id="event-calendar"></div><br>
  <% if admin_signed_in? %>
    <%= link_to 'New Event', new_event_path, class: "btn btn-primary" %>
  <% end %>
</div>


<script type="text/javascript">
  $("#event-calendar").fullCalendar({
    header: {
      left: 'prev,next today',
      center: 'title',
      right: 'month,agendaWeek,agendaDay'
    },
    height:500,
    eventLimit: true,
    events: "/events/calendar_events"
  });
</script>