<h4><%= pluralize(@subject.errors.count, "error") %> prohibited this subject from being saved:</h4>
<ul>
<% @subject.errors.full_messages.each do |message| %>
  <li><%= message %></li>
<% end %>
</ul>