<div class="jumbotron">
  <% if course.sections.present? %>
    <h3>Section List</h3>
    <table>
      <tbody>
        <% course.sections.each do |section| %>
          <h4><strong><%= section.name %></strong></h4>
          <% if section.section_subjects.present? %>
            <ul>
              <% section.section_subjects.each do |section_subject|%>
                <li>
                  <%= section_subject.try(:course_subject).try(:subject).try(:name)%>
                </li>
              <% end %>
            </ul>
            <%= link_to "Include Subject To This Section", "#", class: "btn btn-primary","data-toggle"=>"modal", "data-target"=>"#include-section-subjects"%>
          <% end %>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <h3 class="text-center">Include Subject in this course.</h3>
  <% end %>
</div>
<script type="text/javascript">
  $(".remove-subject").on('click', function(){
    var courseSubjectId = $(this).data("list-id");
    $.ajax({
      url: "/courses/delete_subject",
      type: "GET",
      data: {course_params_id: courseSubjectId}
    });
  });
</script>