.error_explanation li {
  color:red;
}
.error_explanation h4 {
  color:red;
  font-weight:900;
}
.dropdown-menu li a {
  color:#fff;
  background-color: #337ab7;
}
.dropdown-menu li a:hover {
  color:#fff;
  background-color: #337ab7;
}
.search_form {
  padding-top:20px;
  padding-bottom:20px;
}
.inner-icon {
  margin-bottom:-50px !important;
}