.error_explanation li {
  color:red;
}
.error_explanation h4 {
  color:red;
  font-weight:900;
}
.dropdown-menu li a {
  color:#fff;
  background-color: #337ab7;
}
.dropdown-menu li a:hover {
  color:#fff;
  background-color: #337ab7;
}
.search_form {
  padding-top:20px;
  padding-bottom:20px;
}
.inner-icon {
  margin-bottom:-50px !important;
}

@media (max-width: 880px) {

  .footer-distributed{
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

.find-student-form, .find-student-for {
  width:60%;
  padding-bottom: 10%;
  min-height: 400px;
}
.form-field {
  margin-bottom: 20px;
}
.current-student-block, .previous-student-block {
  border:2px solid #009688;
  height:250px;
}
.img-caption {
  background-color: #009688;
  height:50px;
  margin-top:-10px;
}
.img-caption h4{
  color:#fff;
  padding-top:12px;
}
.img-caption a{
  color:#fff;
}
@media screen and (min-width:768px) {
  .find-student-form, .find-student-for {
    margin-left: 20%;
  }
  .img-caption,.current-student-block, .previous-student-block {
    width:75%;
    margin-left:10%;
  }
  .search-student {
    width:60%;
    padding-bottom: 10%;
    margin-left: 20%;
  }
}
@media screen and (max-width:767px) {
  .find-student-form, .find-student-for {
    width:100%;
    padding-bottom: 20%;
  }
  .find-student-for .btn{
    margin-bottom: 2%;
  }
  .search-student {
    width:100%;
    padding-bottom: 20%;
  }
  .img-caption,.current-student-block, .previous-student-block {
    width:100%;
  }
  .current-student-block, .previous-student-block {
    border:2px solid #009688;
    height:250px;
    padding-bottom: 2%;
  }
  .student-block {
    width:80%;
    padding:10px;
    margin-left: 10%
  }
}
.panel-group .panel-heading {
  color:#fff;
  background-color: #009688 !important;
}

.panel-group .student-panel {
  color:#fff;
  background-color: #2196f3 !important;
}
.login-form{
  max-width: 40%;
  min-height:300px;
  border:1px solid #ddd;
  position:center;
  background-color: #ddd;
}
@media screen and (min-width:768px) {
  .login-form {
    margin-top:15%;
    margin-left:30%;
  }
}
.login-form h2 {
  padding-left: 16px;
}
@media screen and (max-width:767px) {
  .login-form{
    max-width: 100%;
    margin-top:10%;
  }
}
.page-wrapper {
  background-image: url('/assets/back-img.jpg');
  min-height:680px;
}
.user-interface {
  width:50%;
  margin-left: 25%;
  padding-top:7%;
}
.home-img {
  width:75%;
  max-height:40%;
  opacity: 1.00;
}
.alert {
  opacity:0.88;
}
@media screen and (max-width:767px){
  .user-interface {
    width:100%;
    margin-left: 0;
    padding-top:20%;
  }
  .home-img {
    width:100%;
    max-height:40%;
  }
}
.shared-links {
  margin-top:10px;
  margin-left: 12px;
}

/* Footer CSS */
.footer-distributed{
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 40px 40px;
  margin-top: 80px;
  overflow: hidden;
}

/* Footer left */

.footer-distributed .footer-left{
  float: left;
}

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 0 0 10px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}


/* Footer right */

.footer-distributed .footer-right{
  float: right;
}

/* The search form */

.footer-distributed form{
  position: relative;
}

.footer-distributed form input{
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color:  #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color:  #d1d2d2;

  width: 500px;
  padding: 18px 50px 18px 18px;
}

.footer-distributed form input:focus{
  outline: none;
}

/* Changing the placeholder color */

.footer-distributed form input::-webkit-input-placeholder {
  color:  #5c666b;
}

.footer-distributed form input::-moz-placeholder {
  opacity: 1;
  color:  #5c666b;
}

.footer-distributed form input:-ms-input-placeholder{
  color:  #5c666b;
}

/* The magnify glass icon */

.footer-distributed form i{
  width: 18px;
  height: 18px;
  position: absolute;
  top: 16px;
  right: 18px;

  color: #d1d2d2;
  font-size: 18px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

  .footer-distributed form input{
    width: 300px;
  }

}

@media (max-width: 800px) {

  .footer-distributed{
    padding: 30px;
    text-align: center;
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-company-name{
    margin-top: 10px;
    font-size: 12px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    float: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .footer-distributed .footer-left{
    margin-bottom: 20px;
  }

  .footer-distributed form input{
    width: 100%;
  }

}


.admin-block-img {
  width:100%;
  border:2px solid #009688;
  max-height:230px;
}
.admin-block-heading {
  background-color: #009688;
  min-height:50px;
  margin-top:-20px;
}
.admin-block-heading h3{
  padding-top:10px;
}
.admin-block-heading a{
  color:#fff;
}